.instrukcja {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.line {
  width: 100%;
  border: 0.05rem solid white;
}

.questions-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 1.6rem;
}

.question label {
  display: block;
}

.answer {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  background-color: #3e3e3e;
  padding: 0.3rem 1rem;
  margin-bottom: 0.65rem;
  position: relative;
}

.question {
  margin-bottom: 1.5rem;
}

.question-content {
  margin-bottom: 0.65rem;
  font-size: 1.2rem;
}

.center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.submit-button {
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  background-color: lightskyblue;
  font-weight: 700;
  border: 0.15rem solid white;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.submit-button:hover {
  background-color: rgb(0, 139, 182);
}

.submit-button:active {
  background-color: rgb(0, 120, 160);
}

.result-header {
  width: 100%;
  background-color: lightskyblue;
  text-align: center;
  padding: 0.3rem;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  display: none;
  margin: 0;
}

.result-profile {
  font-size: 1.2rem;
  margin-left: 1.2rem;
}

.question input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0.5rem;
  left: 3.9rem;
  height: 1.36rem;
  width: 1.36rem;
  background-color: #eee;
  border-radius: 50%;
}

.answer:hover input ~ .checkmark {
  background-color: #ccc;
}

.answer input:checked ~ .checkmark {
  background-color: rgb(0, 139, 182);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.answer input:checked ~ .checkmark:after {
  display: block;
}

.answer .checkmark:after {
  top: 0.43rem;
  left: 0.43rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

.header {
  width: 100%;
  font-size: 1.9rem;
  color: white;
  font-weight: 700;
  font-family: Arial;
  text-align: center;
  background-color: lightskyblue;
  color: black;
  padding: 0.5rem;
}
